@use "../../../scss/utilities/" as *;

.gurus-container {
  hr {
    border: 1px solid #dfdfdf;
    margin-block: rem(24) rem(80);
  }
}

.guru-search {
  text-align: right;
  .ant-input-affix-wrapper {
    background-color: #f6f7f9;
    border: none;
  }
  .ant-input {
    margin-left: rem(16);
    font-size: rem(14);
    line-height: rem(18);
    background-color: #f6f7f9;
    &::placeholder {
      font-size: rem(14);
      line-height: rem(18);
    }
  }
  svg {
    fill: #919fae;
  }
}

.guru-card-container {
  align-items: stretch;
  .ant-col {
    padding: rem(20);
  }
}

.guru-pagination {
  .ant-pagination {
    text-align: center;
  }

  .ant-pagination-item,
  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    border-radius: rem(100);
  }

  .ant-pagination-item {
    background-color: #dfdfdf;
  }

  .ant-pagination-item-active {
    background-color: var(--clr-primary);
    a {
      color: var(--clr-white);
    }
  }

  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    background-color: #f6f7f9;
    border: 1px solid #f6f7f9;
    color: var(--clr-primary);
  }
}
