@use "scss/utilities/" as *;
@use "scss/globals/" as *;
@import "../node_modules/antd/dist/antd.css";

.ant-btn {
  padding: rem(11) rem(33);
  height: auto;
  border-radius: rem(4);
  font-size: rem(14);
  font-weight: 700;
}

.ant-btn-primary {
  background-color: var(--clr-primary);
  border-color: var(--clr-primary);
}
