@use "../utilities/" as *;

:root {
  --clr-title: #0c101a;
  --clr-subtitle: #384042;
  --clr-body: #92a0af;
  --clr-muted: #dfdfdf;
  --bg-light: #f7fafc;
  --bg-lighter: #f6f7f9;
  --clr-primary: #0192da;
  --clr-white: #ffffff;
  --clr-black: #000000;
}
